/**
 * Infortis/ultimo
 * Custom CSS fallback
 * app/design/frontend/Infortis/ultimo/web/css/_custom.less
 */

//
//  Custom CSS fallback
//  _____________________________________________

//  Fallback file for CSS overrides in custom child-themes.
//
//  To add custom CSS styles, create custom child-theme (with Ultimo
//  as its parent theme) and create "_custom.less" in the following location:
//  <YOUR_MAGENTO_INSTALL_DIRECTORY>/app/design/frontend/<YOUR_VENDOR_NAME>/<YOUR_THEME_NAME>/web/css/_custom.less

//  Below you can find usage examples.



// & when (@media-common = true) {
//
//     //  Set border color of search box
//
//     .header-regular .block-search input.input-text {
//         border-color: red;
//     }
//
// } // end: media-common



//  Uncomment the line below to disable Font Awesome icons:

// @fontawesome-enable: false;

@media only screen and (max-width: 639px) {
    .table-wrapper .table:not(.cart):not(.totals):not(.table-comparison) > tbody > tr td:before, .table-wrapper .table:not(.cart):not(.totals):not(.table-comparison) > tbody > tr th:before {
        content: attr(data-th) '';
    }
}

// Medals

ul.custom-attribute-list {
    overflow: hidden;
}

.custom-attribute-list li {
    float: left;
    margin-right: 20px;
    text-transform: capitalize;
    text-align: center;
    word-wrap: break-word;
    font-size: 11px;
}

.vino-icon {
    font-size: 36px;
    line-height: 65px;
    width: 65px;
    max-height: 65px;
    background-color: #333;
    border-radius: 50%;
    color: #fff;
    display: block;
    padding: 14px 0;
    box-sizing: border-box;
    margin-bottom: 10px;
}

#medals-list .vino-icon {
    height: 75px;
    width: 75px;
    padding: 0;
    margin: 0;
    max-width: 75px;
    max-height: 75px;
    background-size: 600px 600px;
    background-repeat: no-repeat;
}

#product-attribute-specs-table tr td {
    width: 50%;
    float: left;
}

// Ribbons

.round-stickers .sticker {
    border-radius: 0;
}

.sticker-wrapper.top-left {
    width: 100%;
    height: 100%;
    position: absolute;
    border: none;
    background: transparent;
}

.sticker.sale.save {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    text-align: right;
    background-color: transparent;
}

.sticker.sale.save span {
    font-size: 14px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 30px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 100px;
    display: block;
    background: #f25755;
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 11px;
    left: -25px;
}

.sticker.sale.save span::before {
    content: "";
    position: absolute; 
    left: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid #8E1421;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #8E1421;
}

.sticker.sale.save span::after {
    content: "";
    position: absolute; 
    right: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #8E1421;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #8E1421;
}

// Catalog

.action.primary {
    font-family: Montserrat, sans-serif !important;
}

.product.actions.product-item-actions {
    position: static !important;
}

.actions-primary {
    width: 100% !important;
}

#layered-filter-block {
	display: none !important; 
}

// Blog
.mpblog-post-view .sidebar.sidebar-main,
.mpblog-post-index .sidebar.sidebar-main,
.mp-blog-rss,
.mp-footer {
    display: none;
}

// Wine Club Nav

.navi .nav-panel--dropdown a.go {
    color: #832225;
    font-weight: 700;
}

.go.button {
    font-weight: 400 !important;
    border: 2px solid #832225;
    padding: 10px 15px;
    text-align: center;
    margin-top: 10px;
}

.go.button:hover {
    background-color: #832225;
    color: #fff !important;
    transition: all 0.2s;
}

// Search 

@media screen and (min-width: 992px) {
    input#search {
        min-width: 400px;
    }
}

// Buy Now

.catalog-product-view #buy-now {
    width: 100%;
    margin-top: 10px;
    height: 52px;
    background-color: #fff;
    border: 2px solid #832225;
    color: #832225;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

@media screen and (max-width: 992px) {
    .catalog-product-view #buy-now {
        width: 100%;
    }
}

.catalog-product-view #buy-now:hover {
    background-color: #832225;
    color: #fff;
}

button#product-addtocart-button {
    font-family: Montserrat, sans-serif;
}

// Homepage

a.product.photo.product-item-photo img {
    max-height: 300px;
    margin: 0 auto
}

// Daily Deal

@media screen and (max-width: 992px) {
    .product-view-deal {
        max-width: 350px;
        margin: 60px auto 0;
    }

    .product-view-deal .dealtime-label {
        text-align: center !important;
    }
}

.product-view-deal .dealtime-label, .dailydeal-cat.timeleft-block label {
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0;
    margin: 0;
}

.product-view-deal .deal-time-info {
    padding: 0;
    margin: 0 0 10px 0;
}

.product-view-deal .deal-time-info > h5 {
    text-align: center;
    font-family: Montserrat, sans-serif;    
    font-size: 12px;
    margin-top: 10px;
    box-sizing: border-box;
}

.product-view-deal ul.dailydeal-countdown {
    background-color: #fff;
    border: 1px solid #F5F5F5;
    border-width: 0 1px 1px 1px;
    overflow: hidden;
    box-sizing: border-box;
}

ul.dailydeal-countdown li {
    width: 25%;
    padding: 10px 0;
    box-sizing: border-box;
}

ul.dailydeal-countdown li span {
    color: #792928 !important;
    font-weight: normal !important;
    font-family: Montserrat, sans-serif !important;
}

.product-view-deal {
    max-width: 350px;
}

.dailydeal-cat.timeleft-block {
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #F5F5F5;
    margin: 10px 0;
}

.product-view-deal .dealtime-label,
.dailydeal-cat.timeleft-block label {
    display: block;
    background-color: #832225;
    padding: 5px 0;
    color: #F5D76E !important;
    font-weight: 700;
}

.timeleft-cat {
    display: block;
}

.dailydeal-countdown {
    margin: 0 !important;
}

.dailydeal-countdown li {
    float: left;
    width: 25%;
    margin: 0;
    padding: 10px 0;
    color: #832225;
}

span.timeleft-cat .dailydeal-countdown li {
    width: 25%;
}

// Catalog

ol.products.list.items.product-items.itemgrid {
    text-align: center;
}


@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?gxz2t');
    src:  url('../fonts/icomoon.eot?gxz2t#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?gxz2t') format('truetype'),
        url('../fonts/icomoon.woff?gxz2t') format('woff'),
        url('../fonts/icomoon.svg?gxz2t#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
  
.custom-attribute-list i.vino-icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul.custom-attribute-list {
    overflow: hidden;
}
.custom-attribute-list li {
    float: left;
    margin-right: 20px;
    text-transform: capitalize;
    text-align: center;
    word-wrap: break-word;
    font-size: 11px;
}

.vino-icon {
    font-size: 36px;
    line-height: 65px;
    width: 65px;
    max-height: 65px;
    background-color: #333;
    border-radius: 50%;
    color: #fff;
    display: block;
    padding: 15px 0;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.icon-vino-icon-taste-cantaloupe:before {
    content: "\e900";
}
.icon-vino-icon-food-salad:before {
    content: "\e901";
}
.icon-vino-icon-90-points:before {
    content: "\e600";
}
.icon-vino-icon-91-points:before {
    content: "\e601";
}
.icon-vino-icon-92-points:before {
    content: "\e602";
}
.icon-vino-icon-93-points:before {
    content: "\e603";
}
.icon-vino-icon-94-points:before {
    content: "\e604";
}
.icon-vino-icon-95-points:before {
    content: "\e605";
}
.icon-vino-icon-96-points:before {
    content: "\e606";
}
.icon-vino-icon-97-points:before {
    content: "\e607";
}
.icon-vino-icon-98-points:before {
    content: "\e608";
}
.icon-vino-icon-99-points:before {
    content: "\e609";
}
.icon-vino-icon-100-points:before {
    content: "\e60a";
}
.icon-vino-icon-award:before {
    content: "\e60b";
}
.icon-vino-icon-box-wine:before {
    content: "\e60c";
}
.icon-vino-icon-club:before {
    content: "\e60d";
}
.icon-vino-icon-feel-angular:before {
    content: "\e60e";
}
.icon-vino-icon-feel-bitter:before {
    content: "\e60f";
}
.icon-vino-icon-feel-bold:before {
    content: "\e610";
}
.icon-vino-icon-feel-bright:before {
    content: "\e611";
}
.icon-vino-icon-feel-chalky:before {
    content: "\e612";
}
.icon-vino-icon-feel-chewy:before {
    content: "\e613";
}
.icon-vino-icon-feel-coarse:before {
    content: "\e614";
}
.icon-vino-icon-feel-concentrated:before {
    content: "\e615";
}
.icon-vino-icon-feel-crisp:before {
    content: "\e616";
}
.icon-vino-icon-feel-deep:before {
    content: "\e617";
}
.icon-vino-icon-feel-delicate:before {
    content: "\e618";
}
.icon-vino-icon-feel-dense:before {
    content: "\e619";
}
.icon-vino-icon-feel-drying:before {
    content: "\e61a";
}
.icon-vino-icon-feel-elegant:before {
    content: "\e61b";
}
.icon-vino-icon-feel-ethereal:before {
    content: "\e61c";
}
.icon-vino-icon-feel-fine:before {
    content: "\e61d";
}
.icon-vino-icon-feel-firm:before {
    content: "\e61e";
}
.icon-vino-icon-feel-flabby:before {
    content: "\e61f";
}
.icon-vino-icon-feel-flat:before {
    content: "\e620";
}
.icon-vino-icon-feel-fresh:before {
    content: "\e621";
}
.icon-vino-icon-feel-full-bodied:before {
    content: "\e622";
}
.icon-vino-icon-feel-grippy:before {
    content: "\e623";
}
.icon-vino-icon-feel-hot:before {
    content: "\e624";
}
.icon-vino-icon-feel-intense:before {
    content: "\e625";
}
.icon-vino-icon-feel-lean:before {
    content: "\e626";
}
.icon-vino-icon-feel-light-bodied:before {
    content: "\e627";
}
.icon-vino-icon-feel-lightly-oaked:before {
    content: "\e628";
}
.icon-vino-icon-feel-lively:before {
    content: "\e629";
}
.icon-vino-icon-feel-medium-bodied:before {
    content: "\e62a";
}
.icon-vino-icon-feel-mellow:before {
    content: "\e62b";
}
.icon-vino-icon-feel-mouth-watering:before {
    content: "\e62c";
}
.icon-vino-icon-feel-oaky:before {
    content: "\e62d";
}
.icon-vino-icon-feel-off-dry:before {
    content: "\e62e";
}
.icon-vino-icon-feel-opulent:before {
    content: "\e62f";
}
.icon-vino-icon-feel-powerful:before {
    content: "\e630";
}
.icon-vino-icon-feel-racy:before {
    content: "\e631";
}
.icon-vino-icon-feel-refined:before {
    content: "\e632";
}
.icon-vino-icon-feel-refreshing:before {
    content: "\e633";
}
.icon-vino-icon-feel-restrained:before {
    content: "\e634";
}
.icon-vino-icon-feel-rich:before {
    content: "\e635";
}
.icon-vino-icon-feel-round:before {
    content: "\e636";
}
.icon-vino-icon-feel-rustic:before {
    content: "\e637";
}
.icon-vino-icon-feel-silky:before {
    content: "\e638";
}
.icon-vino-icon-feel-smooth:before {
    content: "\e639";
}
.icon-vino-icon-feel-soft:before {
    content: "\e63a";
}
.icon-vino-icon-feel-steely:before {
    content: "\e63b";
}
.icon-vino-icon-feel-sweet:before {
    content: "\e63c";
}
.icon-vino-icon-feel-tart:before {
    content: "\e63d";
}
.icon-vino-icon-feel-textured:before {
    content: "\e63e";
}
.icon-vino-icon-feel-thin:before {
    content: "\e63f";
}
.icon-vino-icon-feel-tight:before {
    content: "\e640";
}
.icon-vino-icon-feel-unoaked:before {
    content: "\e641";
}
.icon-vino-icon-feel-velvety:before {
    content: "\e642";
}
.icon-vino-icon-feel-warm:before {
    content: "\e643";
}
.icon-vino-icon-feel-zesty:before {
    content: "\e644";
}
.icon-vino-icon-feel-zippy:before {
    content: "\e645";
}
.icon-vino-icon-food-bbq:before {
    content: "\e646";
}
.icon-vino-icon-food-beef:before {
    content: "\e647";
}
.icon-vino-icon-food-berries:before {
    content: "\e648";
}
.icon-vino-icon-food-blue-cheese:before {
    content: "\e649";
}
.icon-vino-icon-food-chicken:before {
    content: "\e64a";
}
.icon-vino-icon-food-chocolate:before {
    content: "\e64b";
}
.icon-vino-icon-food-creamy-sauces:before {
    content: "\e64c";
}
.icon-vino-icon-food-duck:before {
    content: "\e64d";
}
.icon-vino-icon-food-fish:before {
    content: "\e64e";
}
.icon-vino-icon-food-hard-cheese:before {
    content: "\e64f";
}
.icon-vino-icon-food-lamb:before {
    content: "\e650";
}
.icon-vino-icon-food-light-desserts:before {
    content: "\e651";
}
.icon-vino-icon-food-light-pasta:before {
    content: "\e652";
}
.icon-vino-icon-food-light-vegetables:before {
    content: "\e653";
}
.icon-vino-icon-food-oysters:before {
    content: "\e654";
}
.icon-vino-icon-food-pizza:before {
    content: "\e655";
}
.icon-vino-icon-food-pork:before {
    content: "\e656";
}
.icon-vino-icon-food-rabbit:before {
    content: "\e657";
}
.icon-vino-icon-food-rich-desserts:before {
    content: "\e658";
}
.icon-vino-icon-food-rich-pasta:before {
    content: "\e659";
}
.icon-vino-icon-food-rich-sauces:before {
    content: "\e65a";
}
.icon-vino-icon-food-rich-vegetables:before {
    content: "\e65b";
}
.icon-vino-icon-food-risotto:before {
    content: "\e65c";
}
.icon-vino-icon-food-seafood:before {
    content: "\e65d";
}
.icon-vino-icon-food-soft-cheese:before {
    content: "\e65e";
}
.icon-vino-icon-food-spicy-foods:before {
    content: "\e65f";
}
.icon-vino-icon-food-tomato-sauces:before {
    content: "\e660";
}
.icon-vino-icon-food-veal:before {
    content: "\e661";
}
.icon-vino-icon-food-venison:before {
    content: "\e662";
}
.icon-vino-icon-gold-medal:before {
    content: "\e663";
}
.icon-vino-icon-grapes:before {
    content: "\e664";
}
.icon-vino-icon-original-club:before {
    content: "\e665";
}
.icon-vino-icon-taste-allspice:before {
    content: "\e666";
}
.icon-vino-icon-taste-almond:before {
    content: "\e667";
}
.icon-vino-icon-taste-anise:before {
    content: "\e668";
}
.icon-vino-icon-taste-aniseed:before {
    content: "\e669";
}
.icon-vino-icon-taste-apple:before {
    content: "\e66a";
}
.icon-vino-icon-taste-apricot:before {
    content: "\e66b";
}
.icon-vino-icon-taste-artichoke:before {
    content: "\e66c";
}
.icon-vino-icon-taste-asparagus:before {
    content: "\e66d";
}
.icon-vino-icon-taste-bacon:before {
    content: "\e66e";
}
.icon-vino-icon-taste-banana:before {
    content: "\e66f";
}
.icon-vino-icon-taste-barley-sugar:before {
    content: "\e670";
}
.icon-vino-icon-taste-barnyard:before {
    content: "\e671";
}
.icon-vino-icon-taste-basil:before {
    content: "\e672";
}
.icon-vino-icon-taste-bay-leaf:before {
    content: "\e673";
}
.icon-vino-icon-taste-beetroot:before {
    content: "\e674";
}
.icon-vino-icon-taste-berries:before {
    content: "\e675";
}
.icon-vino-icon-taste-biscuit:before {
    content: "\e676";
}
.icon-vino-icon-taste-black-cherry:before {
    content: "\e677";
}
.icon-vino-icon-taste-black-olive:before {
    content: "\e678";
}
.icon-vino-icon-taste-blackberry:before {
    content: "\e679";
}
.icon-vino-icon-taste-blackcurrant-leaf:before {
    content: "\e67a";
}
.icon-vino-icon-taste-blackcurrant:before {
    content: "\e67b";
}
.icon-vino-icon-taste-blood-plum:before {
    content: "\e67c";
}
.icon-vino-icon-taste-blossoms:before {
    content: "\e67d";
}
.icon-vino-icon-taste-blueberry:before {
    content: "\e67e";
}
.icon-vino-icon-taste-boiled-lollies:before {
    content: "\e67f";
}
.icon-vino-icon-taste-bread:before {
    content: "\e680";
}
.icon-vino-icon-taste-briary:before {
    content: "\e681";
}
.icon-vino-icon-taste-brioche:before {
    content: "\e682";
}
.icon-vino-icon-taste-burnt-toast:before {
    content: "\e683";
}
.icon-vino-icon-taste-butterscotch:before {
    content: "\e684";
}
.icon-vino-icon-taste-buttery:before {
    content: "\e685";
}
.icon-vino-icon-taste-cabbage:before {
    content: "\e686";
}
.icon-vino-icon-taste-candied:before {
    content: "\e687";
}
.icon-vino-icon-taste-capsicum:before {
    content: "\e688";
}
.icon-vino-icon-taste-caramel:before {
    content: "\e689";
}
.icon-vino-icon-taste-cashew:before {
    content: "\e68a";
}
.icon-vino-icon-taste-cat-s-pee:before {
    content: "\e68b";
}
.icon-vino-icon-taste-cedar:before {
    content: "\e68c";
}
.icon-vino-icon-taste-charred:before {
    content: "\e68d";
}
.icon-vino-icon-taste-cheese:before {
    content: "\e68e";
}
.icon-vino-icon-taste-cherry:before {
    content: "\e68f";
}
.icon-vino-icon-taste-chestnut:before {
    content: "\e690";
}
.icon-vino-icon-taste-chocolate:before {
    content: "\e691";
}
.icon-vino-icon-taste-cigarbox:before {
    content: "\e692";
}
.icon-vino-icon-taste-cinnamon:before {
    content: "\e693";
}
.icon-vino-icon-taste-citrus:before {
    content: "\e694";
}
.icon-vino-icon-taste-cloves:before {
    content: "\e695";
}
.icon-vino-icon-taste-cocoa:before {
    content: "\e696";
}
.icon-vino-icon-taste-coconut:before {
    content: "\e697";
}
.icon-vino-icon-taste-coffee-beans:before {
    content: "\e698";
}
.icon-vino-icon-taste-coffee:before {
    content: "\e699";
}
.icon-vino-icon-taste-confectionary:before {
    content: "\e69a";
}
.icon-vino-icon-taste-cranberry:before {
    content: "\e69b";
}
.icon-vino-icon-taste-creamy:before {
    content: "\e69c";
}
.icon-vino-icon-taste-cucumber:before {
    content: "\e69d";
}
.icon-vino-icon-taste-cumquat:before {
    content: "\e69e";
}
.icon-vino-icon-taste-dark-chocolate:before {
    content: "\e69f";
}
.icon-vino-icon-taste-dill:before {
    content: "\e6a0";
}
.icon-vino-icon-taste-dough:before {
    content: "\e6a1";
}
.icon-vino-icon-taste-dried-apricot:before {
    content: "\e6a2";
}
.icon-vino-icon-taste-dried-bark:before {
    content: "\e6a3";
}
.icon-vino-icon-taste-dried-flowers:before {
    content: "\e6a4";
}
.icon-vino-icon-taste-dried-leaves:before {
    content: "\e6a5";
}
.icon-vino-icon-taste-earthy:before {
    content: "\e6a6";
}
.icon-vino-icon-taste-elderflower:before {
    content: "\e6a7";
}
.icon-vino-icon-taste-eucalyptus:before {
    content: "\e6a8";
}
.icon-vino-icon-taste-feral:before {
    content: "\e6a9";
}
.icon-vino-icon-taste-figs:before {
    content: "\e6aa";
}
.icon-vino-icon-taste-flinty:before {
    content: "\e6ab";
}
.icon-vino-icon-taste-floral:before {
    content: "\e6ac";
}
.icon-vino-icon-taste-forest-floor:before {
    content: "\e6ad";
}
.icon-vino-icon-taste-fresh-cut-grass:before {
    content: "\e6ae";
}
.icon-vino-icon-taste-fruit-salad:before {
    content: "\e6af";
}
.icon-vino-icon-taste-fruitcake:before {
    content: "\e6b0";
}
.icon-vino-icon-taste-fruity:before {
    content: "\e6b1";
}
.icon-vino-icon-taste-gamey:before {
    content: "\e6b2";
}
.icon-vino-icon-taste-geranium:before {
    content: "\e6b3";
}
.icon-vino-icon-taste-gingerbread:before {
    content: "\e6b4";
}
.icon-vino-icon-taste-gooseberry:before {
    content: "\e6b5";
}
.icon-vino-icon-taste-grapefruit:before {
    content: "\e6b6";
}
.icon-vino-icon-taste-grapey:before {
    content: "\e6b7";
}
.icon-vino-icon-taste-grassy:before {
    content: "\e6b8";
}
.icon-vino-icon-taste-green-apple:before {
    content: "\e6b9";
}
.icon-vino-icon-taste-green-bean:before {
    content: "\e6ba";
}
.icon-vino-icon-taste-green-olive:before {
    content: "\e6bb";
}
.icon-vino-icon-taste-guava:before {
    content: "\e6bc";
}
.icon-vino-icon-taste-hay:before {
    content: "\e6bd";
}
.icon-vino-icon-taste-hazelnut:before {
    content: "\e6be";
}
.icon-vino-icon-taste-herbaceous:before {
    content: "\e6bf";
}
.icon-vino-icon-taste-honey:before {
    content: "\e6c0";
}
.icon-vino-icon-taste-honeysuckle:before {
    content: "\e6c1";
}
.icon-vino-icon-taste-jammy:before {
    content: "\e6c2";
}
.icon-vino-icon-taste-jasmine:before {
    content: "\e6c3";
}
.icon-vino-icon-taste-jubie:before {
    content: "\e6c4";
}
.icon-vino-icon-taste-kerosene:before {
    content: "\e6c5";
}
.icon-vino-icon-taste-kiwi:before {
    content: "\e6c6";
}
.icon-vino-icon-taste-lanolin:before {
    content: "\e6c7";
}
.icon-vino-icon-taste-lantana:before {
    content: "\e6c8";
}
.icon-vino-icon-taste-lavender:before {
    content: "\e6c9";
}
.icon-vino-icon-taste-leafy:before {
    content: "\e6ca";
}
.icon-vino-icon-taste-leather:before {
    content: "\e6cb";
}
.icon-vino-icon-taste-leesy:before {
    content: "\e6cc";
}
.icon-vino-icon-taste-lemon-zest:before {
    content: "\e6cd";
}
.icon-vino-icon-taste-lemon:before {
    content: "\e6ce";
}
.icon-vino-icon-taste-licorice:before {
    content: "\e6cf";
}
.icon-vino-icon-taste-lime:before {
    content: "\e6d0";
}
.icon-vino-icon-taste-lychee:before {
    content: "\e6d1";
}
.icon-vino-icon-taste-malty:before {
    content: "\e6d2";
}
.icon-vino-icon-taste-mandarin:before {
    content: "\e6d3";
}
.icon-vino-icon-taste-mango:before {
    content: "\e6d4";
}
.icon-vino-icon-taste-marjoram:before {
    content: "\e6d5";
}
.icon-vino-icon-taste-marmalade:before {
    content: "\e6d6";
}
.icon-vino-icon-taste-marmite:before {
    content: "\e6d7";
}
.icon-vino-icon-taste-marzipan:before {
    content: "\e6d8";
}
.icon-vino-icon-taste-meaty:before {
    content: "\e6d9";
}
.icon-vino-icon-taste-melon:before {
    content: "\e6da";
}
.icon-vino-icon-taste-menthol:before {
    content: "\e6db";
}
.icon-vino-icon-taste-metallic:before {
    content: "\e6dc";
}
.icon-vino-icon-taste-minerally:before {
    content: "\e6dd";
}
.icon-vino-icon-taste-mint:before {
    content: "\e6de";
}
.icon-vino-icon-taste-mocha:before {
    content: "\e6df";
}
.icon-vino-icon-taste-molasses:before {
    content: "\e6e0";
}
.icon-vino-icon-taste-mossy:before {
    content: "\e6e1";
}
.icon-vino-icon-taste-mousey:before {
    content: "\e6e2";
}
.icon-vino-icon-taste-mulberry:before {
    content: "\e6e3";
}
.icon-vino-icon-taste-mushroom:before {
    content: "\e6e4";
}
.icon-vino-icon-taste-musk:before {
    content: "\e6e5";
}
.icon-vino-icon-taste-nectarine:before {
    content: "\e6e6";
}
.icon-vino-icon-taste-nettles:before {
    content: "\e6e7";
}
.icon-vino-icon-taste-nougat:before {
    content: "\e6e8";
}
.icon-vino-icon-taste-nutmeg:before {
    content: "\e6e9";
}
.icon-vino-icon-taste-nutty:before {
    content: "\e6ea";
}
.icon-vino-icon-taste-oaky:before {
    content: "\e6eb";
}
.icon-vino-icon-taste-orange-blossom:before {
    content: "\e6ec";
}
.icon-vino-icon-taste-orange-peel:before {
    content: "\e6ed";
}
.icon-vino-icon-taste-orange:before {
    content: "\e6ee";
}
.icon-vino-icon-taste-oxidised:before {
    content: "\e6ef";
}
.icon-vino-icon-taste-oyster-shell:before {
    content: "\e6f0";
}
.icon-vino-icon-taste-passionfruit:before {
    content: "\e6f1";
}
.icon-vino-icon-taste-peach:before {
    content: "\e6f2";
}
.icon-vino-icon-taste-pear:before {
    content: "\e6f3";
}
.icon-vino-icon-taste-peas:before {
    content: "\e6f4";
}
.icon-vino-icon-taste-pencil-shavings:before {
    content: "\e6f5";
}
.icon-vino-icon-taste-pepper:before {
    content: "\e6f6";
}
.icon-vino-icon-taste-peppermint:before {
    content: "\e6f7";
}
.icon-vino-icon-taste-perfumed:before {
    content: "\e6f8";
}
.icon-vino-icon-taste-petrol:before {
    content: "\e6f9";
}
.icon-vino-icon-taste-pine:before {
    content: "\e6fa";
}
.icon-vino-icon-taste-pineapple:before {
    content: "\e6fb";
}
.icon-vino-icon-taste-plum:before {
    content: "\e6fc";
}
.icon-vino-icon-taste-popcorn:before {
    content: "\e6fd";
}
.icon-vino-icon-taste-potpourri:before {
    content: "\e6fe";
}
.icon-vino-icon-taste-potting-soil:before {
    content: "\e6ff";
}
.icon-vino-icon-taste-prunes:before {
    content: "\e700";
}
.icon-vino-icon-taste-quince-paste:before {
    content: "\e701";
}
.icon-vino-icon-taste-quince:before {
    content: "\e702";
}
.icon-vino-icon-taste-raisin:before {
    content: "\e703";
}
.icon-vino-icon-taste-raspberry:before {
    content: "\e704";
}
.icon-vino-icon-taste-redcurrant:before {
    content: "\e705";
}
.icon-vino-icon-taste-rhubarb:before {
    content: "\e706";
}
.icon-vino-icon-taste-rockmelon:before {
    content: "\e707";
}
.icon-vino-icon-taste-rose-petal:before {
    content: "\e708";
}
.icon-vino-icon-taste-saffron:before {
    content: "\e709";
}
.icon-vino-icon-taste-sage:before {
    content: "\e70a";
}
.icon-vino-icon-taste-salami:before {
    content: "\e70b";
}
.icon-vino-icon-taste-salty:before {
    content: "\e70c";
}
.icon-vino-icon-taste-sandalwood:before {
    content: "\e70d";
}
.icon-vino-icon-taste-savoury:before {
    content: "\e70e";
}
.icon-vino-icon-taste-sawdust:before {
    content: "\e70f";
}
.icon-vino-icon-taste-slate:before {
    content: "\e710";
}
.icon-vino-icon-taste-smoky:before {
    content: "\e711";
}
.icon-vino-icon-taste-sour-cherry:before {
    content: "\e712";
}
.icon-vino-icon-taste-soy:before {
    content: "\e713";
}
.icon-vino-icon-taste-spearmint:before {
    content: "\e714";
}
.icon-vino-icon-taste-spice:before {
    content: "\e715";
}
.icon-vino-icon-taste-spicebox:before {
    content: "\e716";
}
.icon-vino-icon-taste-stewed-fruits:before {
    content: "\e717";
}
.icon-vino-icon-taste-strawberry:before {
    content: "\e718";
}
.icon-vino-icon-taste-struck-match:before {
    content: "\e719";
}
.icon-vino-icon-taste-sweet:before {
    content: "\e71a";
}
.icon-vino-icon-taste-tarry:before {
    content: "\e71b";
}
.icon-vino-icon-taste-tea:before {
    content: "\e71c";
}
.icon-vino-icon-taste-thyme:before {
    content: "\e71d";
}
.icon-vino-icon-taste-toast:before {
    content: "\e71e";
}
.icon-vino-icon-taste-tobacco:before {
    content: "\e71f";
}
.icon-vino-icon-taste-toffee:before {
    content: "\e720";
}
.icon-vino-icon-taste-tomato-leaf:before {
    content: "\e721";
}
.icon-vino-icon-taste-tomato:before {
    content: "\e722";
}
.icon-vino-icon-taste-treacle:before {
    content: "\e723";
}
.icon-vino-icon-taste-tropical-fruit:before {
    content: "\e724";
}
.icon-vino-icon-taste-truffle:before {
    content: "\e725";
}
.icon-vino-icon-taste-umami:before {
    content: "\e726";
}
.icon-vino-icon-taste-undergrowth:before {
    content: "\e727";
}
.icon-vino-icon-taste-vanilla:before {
    content: "\e728";
}
.icon-vino-icon-taste-vegemite:before {
    content: "\e729";
}
.icon-vino-icon-taste-vegetative:before {
    content: "\e72a";
}
.icon-vino-icon-taste-violets:before {
    content: "\e72b";
}
.icon-vino-icon-taste-walnut:before {
    content: "\e72c";
}
.icon-vino-icon-taste-white-peach:before {
    content: "\e72d";
}
.icon-vino-icon-taste-white-pepper:before {
    content: "\e72e";
}
.icon-vino-icon-taste-wild-berries:before {
    content: "\e72f";
}
.icon-vino-icon-taste-woody:before {
    content: "\e730";
}
.icon-vino-icon-taste-yeasty:before {
    content: "\e731";
}
.icon-vino-icon-taste-yoghurt:before {
    content: "\e732";
}
.icon-vino-icon-the-cube:before {
    content: "\e733";
}
.icon-vino-icon-the-vinofiles:before {
    content: "\e734";
}
.icon-vino-icon-tie:before {
    content: "\e735";
}

i.vino-icon.icon-vino-icon-m_bti-platinum {
    background-position: 0 0;
    background-image: url('../images/robertparker.jpg');
}

i.vino-icon.icon-vino-icon-m_bti-gold {
    background-position: -75px 0;
    background-image: url('../images/robertparker.jpg');
}

i.vino-icon.icon-vino-icon-m_bti-silver {
    background-position: -150px 0;
    background-image: url('../images/robertparker.jpg');
}

i.vino-icon.icon-vino-icon-m_bti-bronze {
    background-position: -225px 0;
    background-image: url('../images/robertparker.jpg');
}

i.vino-icon.icon-vino-icon-m_sf_cwc-platinum {
    background-position: 0 -75px;
    background-image: url('../images/robertparker.jpg');
}

i.vino-icon.icon-vino-icon-m_sf_cwc-gold {
    background-position: -75px -75px;
    background-image: url('../images/robertparker.jpg');
}

i.vino-icon.icon-vino-icon-m_sf_cwc-silver {
    background-position: -150px -75px;
    background-image: url('../images/robertparker.jpg');
}

i.vino-icon.icon-vino-icon-m_sf_cwc-bronze {
    background-position: -225px -75px;
    background-image: url('../images/robertparker.jpg');
}

i.vino-icon.icon-vino-icon-m_om-ionic {
    background-position: 0 -150px;
    background-image: url('../images/robertparker.jpg');
}

i.vino-icon.icon-vino-icon-m_om-recommended {
    background-position: -75px -150px;
    background-image: url('../images/robertparker.jpg');
}

i.vino-icon.icon-vino-icon-m_om-award-winner {
    background-position: -150px -150px;
    background-image: url('../images/robertparker.jpg');
}

i.vino-icon.icon-vino-icon-m_om-trophy-winner {
    background-position: -225px -150px;
    background-image: url('../images/robertparker.jpg');
}

i.vino-icon.icon-vino-icon-robert_parker_score-rps-86 {
    background-position: -300px 0;
    background-image: url('../images/robertparker.jpg');
}

i.vino-icon.icon-vino-icon-robert_parker_score-rps-87 {
    background-position: -375px 0;
    background-image: url('../images/robertparker.jpg');
}

i.vino-icon.icon-vino-icon-robert_parker_score-rps-88 {
    background-position: -450px 0;
    background-image: url('../images/robertparker.jpg');
}

i.vino-icon.icon-vino-icon-robert_parker_score-rps-89 {
    background-position: -525px 0;
    background-image: url('../images/robertparker.jpg');
}

i.vino-icon.icon-vino-icon-robert_parker_score-rps-90 {
    background-position: -300px -75px;
    background-image: url('../images/robertparker.jpg');
}

i.vino-icon.icon-vino-icon-robert_parker_score-rps-91 {
    background-position: -375px -75px;
    background-image: url('../images/robertparker.jpg');
}

i.vino-icon.icon-vino-icon-robert_parker_score-rps-92 {
    background-position: -450px -75px;
    background-image: url('../images/robertparker.jpg');
}

i.vino-icon.icon-vino-icon-robert_parker_score-rps-93 {
    background-position: -525px -75px;
    background-image: url('../images/robertparker.jpg');
}

i.vino-icon.icon-vino-icon-robert_parker_score-rps-94 {
    background-position: -300px -150px;
    background-image: url('../images/robertparker.jpg');
}

i.vino-icon.icon-vino-icon-robert_parker_score-rps-95 {
    background-position: -375px -150px;
    background-image: url('../images/robertparker.jpg');
}

i.vino-icon.icon-vino-icon-robert_parker_score-rps-96 {
    background-position: -450px -150px;
    background-image: url('../images/robertparker.jpg');
}

i.vino-icon.icon-vino-icon-robert_parker_score-rps-97 {
    background-position: -525px -150px;
    background-image: url('../images/robertparker.jpg');
}

i.vino-icon.icon-vino-icon-robert_parker_score-rps-98 {
  background-position: -300px -225px;
  background-image: url('../images/robertparker.jpg');
}

i.vino-icon.icon-vino-icon-robert_parker_score-rps-99 {
    background-position: -375px -225px;
    background-image: url('../images/robertparker.jpg');
}

i.vino-icon.icon-vino-icon-robert_parker_score-rps-100 {
    background-position: -450px -225px;
    background-image: url('../images/robertparker.jpg');
}

i.vino-icon.icon-vino-icon-robert_parker_score-rps-86-plus {
    background-position: -300px -300px;
    background-image: url('../images/robertparker.jpg');
}

i.vino-icon.icon-vino-icon-robert_parker_score-rps-87-plus {
    background-position: -375px -300px;
    background-image: url('../images/robertparker.jpg');
}

i.vino-icon.icon-vino-icon-robert_parker_score-rps-88-plus {
    background-position: -450px -300px;
    background-image: url('../images/robertparker.jpg');
}

i.vino-icon.icon-vino-icon-robert_parker_score-rps-89-plus {
    background-position: -525px -300px;
    background-image: url('../images/robertparker.jpg');
}

i.vino-icon.icon-vino-icon-robert_parker_score-rps-90-plus {
    background-position: -300px -375px;
    background-image: url('../images/robertparker.jpg');
}

i.vino-icon.icon-vino-icon-robert_parker_score-rps-91-plus {
    background-position: -375px -375px;
    background-image: url('../images/robertparker.jpg');
}

i.vino-icon.icon-vino-icon-robert_parker_score-rps-92-plus {
    background-position: -450px -375px;
    background-image: url('../images/robertparker.jpg');
}

i.vino-icon.icon-vino-icon-robert_parker_score-rps-93-plus {
    background-position: -525px -375px;
    background-image: url('../images/robertparker.jpg');
}

i.vino-icon.icon-vino-icon-robert_parker_score-rps-94-plus {
    background-position: -300px -450px;
    background-image: url('../images/robertparker.jpg');
}

i.vino-icon.icon-vino-icon-robert_parker_score-rps-95-plus {
    background-position: -375px -450px;
    background-image: url('../images/robertparker.jpg');
}

i.vino-icon.icon-vino-icon-robert_parker_score-rps-96-plus {
    background-position: -450px -450px;
    background-image: url('../images/robertparker.jpg');
}

i.vino-icon.icon-vino-icon-robert_parker_score-rps-97-plus {
    background-position: -525px -450px;
    background-image: url('../images/robertparker.jpg');
}

i.vino-icon.icon-vino-icon-robert_parker_score-rps-98-plus {
    background-position: -300px -525px;
    background-image: url('../images/robertparker.jpg');
}

i.vino-icon.icon-vino-icon-robert_parker_score-rps-99-plus {
    background-position: -375px -525px;
    background-image: url('../images/robertparker.jpg');
}

i.vino-icon.icon-vino-icon-robert_parker_score-rps-100-plus {
    background-position: -450px -525px;
    background-image: url('../images/robertparker.jpg');
}

i.vino-icon.icon-vino-icon-decanter_score-rps-86 {
    background-position: -300px 0;
    background-image: url('../images/decanter.jpg');
}

i.vino-icon.icon-vino-icon-decanter_score-rps-87 {
    background-position: -375px 0;
    background-image: url('../images/decanter.jpg');
}

i.vino-icon.icon-vino-icon-decanter_score-rps-88 {
    background-position: -450px 0;
    background-image: url('../images/decanter.jpg');
}

i.vino-icon.icon-vino-icon-decanter_score-rps-89 {
    background-position: -525px 0;
    background-image: url('../images/decanter.jpg');
}

i.vino-icon.icon-vino-icon-decanter_score-rps-90 {
    background-position: -300px -75px;
    background-image: url('../images/decanter.jpg');
}

i.vino-icon.icon-vino-icon-decanter_score-rps-91 {
    background-position: -375px -75px;
    background-image: url('../images/decanter.jpg');
}

i.vino-icon.icon-vino-icon-decanter_score-rps-92 {
    background-position: -450px -75px;
    background-image: url('../images/decanter.jpg');
}

i.vino-icon.icon-vino-icon-decanter_score-rps-93 {
    background-position: -525px -75px;
    background-image: url('../images/decanter.jpg');
}

i.vino-icon.icon-vino-icon-decanter_score-rps-94 {
    background-position: -300px -150px;
    background-image: url('../images/decanter.jpg');
}

i.vino-icon.icon-vino-icon-decanter_score-rps-95 {
    background-position: -375px -150px;
    background-image: url('../images/decanter.jpg');
}

i.vino-icon.icon-vino-icon-decanter_score-rps-96 {
    background-position: -450px -150px;
    background-image: url('../images/decanter.jpg');
}

i.vino-icon.icon-vino-icon-decanter_score-rps-97 {
    background-position: -525px -150px;
    background-image: url('../images/decanter.jpg');
}

i.vino-icon.icon-vino-icon-decanter_score-rps-98 {
    background-position: -300px -225px;
    background-image: url('../images/decanter.jpg');
}

i.vino-icon.icon-vino-icon-decanter_score-rps-99 {
    background-position: -375px -225px;
    background-image: url('../images/decanter.jpg');
}

i.vino-icon.icon-vino-icon-decanter_score-rps-100 {
    background-position: -450px -225px;
    background-image: url('../images/decanter.jpg');
}

i.vino-icon.icon-vino-icon-decanter_score-rps-86-plus {
    background-position: -300px -300px;
    background-image: url('../images/decanter.jpg');
}

i.vino-icon.icon-vino-icon-decanter_score-rps-87-plus {
    background-position: -375px -300px;
    background-image: url('../images/decanter.jpg');
}

i.vino-icon.icon-vino-icon-decanter_score-rps-88-plus {
    background-position: -450px -300px;
    background-image: url('../images/decanter.jpg');
}

i.vino-icon.icon-vino-icon-decanter_score-rps-89-plus {
    background-position: -525px -300px;
    background-image: url('../images/decanter.jpg');
}

i.vino-icon.icon-vino-icon-decanter_score-rps-90-plus {
    background-position: -300px -375px;
    background-image: url('../images/decanter.jpg');
}

i.vino-icon.icon-vino-icon-decanter_score-rps-91-plus {
    background-position: -375px -375px;
    background-image: url('../images/decanter.jpg');
}

i.vino-icon.icon-vino-icon-decanter_score-rps-92-plus {
    background-position: -450px -375px;
    background-image: url('../images/decanter.jpg');
}

i.vino-icon.icon-vino-icon-decanter_score-rps-93-plus {
    background-position: -525px -375px;
    background-image: url('../images/decanter.jpg');
}

i.vino-icon.icon-vino-icon-decanter_score-rps-94-plus {
    background-position: -300px -450px;
    background-image: url('../images/decanter.jpg');
}

i.vino-icon.icon-vino-icon-decanter_score-rps-95-plus {
    background-position: -375px -450px;
    background-image: url('../images/decanter.jpg');
}

i.vino-icon.icon-vino-icon-decanter_score-rps-96-plus {
    background-position: -450px -450px;
    background-image: url('../images/decanter.jpg');
}

i.vino-icon.icon-vino-icon-decanter_score-rps-97-plus {
    background-position: -525px -450px;
    background-image: url('../images/decanter.jpg');
}

i.vino-icon.icon-vino-icon-decanter_score-rps-98-plus {
    background-position: -300px -525px;
    background-image: url('../images/decanter.jpg');
}

i.vino-icon.icon-vino-icon-decanter_score-rps-99-plus {
    background-position: -375px -525px;
    background-image: url('../images/decanter.jpg');
}

i.vino-icon.icon-vino-icon-decanter_score-rps-100-plus {
    background-position: -450px -525px;
    background-image: url('../images/decanter.jpg');
}

i.vino-icon.icon-vino-icon-wine_spectator_score-rps-86 {
    background-position: -300px 0;
    background-image: url('../images/winespectator.jpg');
}

i.vino-icon.icon-vino-icon-wine_spectator_score-rps-87 {
    background-position: -375px 0;
    background-image: url('../images/winespectator.jpg');
}

i.vino-icon.icon-vino-icon-wine_spectator_score-rps-88 {
    background-position: -450px 0;
    background-image: url('../images/winespectator.jpg');
}

i.vino-icon.icon-vino-icon-wine_spectator_score-rps-89 {
    background-position: -525px 0;
    background-image: url('../images/winespectator.jpg');
}

i.vino-icon.icon-vino-icon-wine_spectator_score-rps-90 {
    background-position: -300px -75px;
    background-image: url('../images/winespectator.jpg');
}

i.vino-icon.icon-vino-icon-wine_spectator_score-rps-91 {
    background-position: -375px -75px;
    background-image: url('../images/winespectator.jpg');
}

i.vino-icon.icon-vino-icon-wine_spectator_score-rps-92 {
    background-position: -450px -75px;
    background-image: url('../images/winespectator.jpg');
}

i.vino-icon.icon-vino-icon-wine_spectator_score-rps-93 {
    background-position: -525px -75px;
    background-image: url('../images/winespectator.jpg');
}

i.vino-icon.icon-vino-icon-wine_spectator_score-rps-94 {
    background-position: -300px -150px;
    background-image: url('../images/winespectator.jpg');
}

i.vino-icon.icon-vino-icon-wine_spectator_score-rps-95 {
    background-position: -375px -150px;
    background-image: url('../images/winespectator.jpg');
}

i.vino-icon.icon-vino-icon-wine_spectator_score-rps-96 {
    background-position: -450px -150px;
    background-image: url('../images/winespectator.jpg');
}

i.vino-icon.icon-vino-icon-wine_spectator_score-rps-97 {
    background-position: -525px -150px;
    background-image: url('../images/winespectator.jpg');
}

i.vino-icon.icon-vino-icon-wine_spectator_score-rps-98 {
    background-position: -300px -225px;
    background-image: url('../images/winespectator.jpg');
}

i.vino-icon.icon-vino-icon-wine_spectator_score-rps-99 {
    background-position: -375px -225px;
    background-image: url('../images/winespectator.jpg');
}

i.vino-icon.icon-vino-icon-wine_spectator_score-rps-100 {
    background-position: -450px -225px;
    background-image: url('../images/winespectator.jpg');
}

i.vino-icon.icon-vino-icon-wine_spectator_score-rps-86-plus {
    background-position: -300px -300px;
    background-image: url('../images/winespectator.jpg');
}

i.vino-icon.icon-vino-icon-wine_spectator_score-rps-87-plus {
    background-position: -375px -300px;
    background-image: url('../images/winespectator.jpg');
}

i.vino-icon.icon-vino-icon-wine_spectator_score-rps-88-plus {
    background-position: -450px -300px;
    background-image: url('../images/winespectator.jpg');
}

i.vino-icon.icon-vino-icon-wine_spectator_score-rps-89-plus {
    background-position: -525px -300px;
    background-image: url('../images/winespectator.jpg');
}

i.vino-icon.icon-vino-icon-wine_spectator_score-rps-90-plus {
    background-position: -300px -375px;
    background-image: url('../images/winespectator.jpg');
}

i.vino-icon.icon-vino-icon-wine_spectator_score-rps-91-plus {
    background-position: -375px -375px;
    background-image: url('../images/winespectator.jpg');
}

i.vino-icon.icon-vino-icon-wine_spectator_score-rps-92-plus {
    background-position: -450px -375px;
    background-image: url('../images/winespectator.jpg');
}

i.vino-icon.icon-vino-icon-wine_spectator_score-rps-93-plus {
    background-position: -525px -375px;
    background-image: url('../images/winespectator.jpg');
}

i.vino-icon.icon-vino-icon-wine_spectator_score-rps-94-plus {
    background-position: -300px -450px;
    background-image: url('../images/winespectator.jpg');
}

i.vino-icon.icon-vino-icon-wine_spectator_score-rps-95-plus {
    background-position: -375px -450px;
    background-image: url('../images/winespectator.jpg');
}

i.vino-icon.icon-vino-icon-wine_spectator_score-rps-96-plus {
    background-position: -450px -450px;
    background-image: url('../images/winespectator.jpg');
}

i.vino-icon.icon-vino-icon-wine_spectator_score-rps-97-plus {
    background-position: -525px -450px;
    background-image: url('../images/winespectator.jpg');
}

i.vino-icon.icon-vino-icon-wine_spectator_score-rps-98-plus {
    background-position: -300px -525px;
    background-image: url('../images/winespectator.jpg');
}

i.vino-icon.icon-vino-icon-wine_spectator_score-rps-99-plus {
    background-position: -375px -525px;
    background-image: url('../images/winespectator.jpg');
}

i.vino-icon.icon-vino-icon-wine_spectator_score-rps-100-plus {
    background-position: -450px -525px;
    background-image: url('../images/winespectator.jpg');
}

i.vino-icon.icon-vino-icon-wine_enthusiast_score-rps-86 {
    background-position: -300px 0;
    background-image: url('../images/wineenthusiast.jpg');
}

i.vino-icon.icon-vino-icon-wine_enthusiast_score-rps-87 {
    background-position: -375px 0;
    background-image: url('../images/wineenthusiast.jpg');
}

i.vino-icon.icon-vino-icon-wine_enthusiast_score-rps-88 {
    background-position: -450px 0;
    background-image: url('../images/wineenthusiast.jpg');
}

i.vino-icon.icon-vino-icon-wine_enthusiast_score-rps-89 {
    background-position: -525px 0;
    background-image: url('../images/wineenthusiast.jpg');
}

i.vino-icon.icon-vino-icon-wine_enthusiast_score-rps-90 {
    background-position: -300px -75px;
    background-image: url('../images/wineenthusiast.jpg');
}

i.vino-icon.icon-vino-icon-wine_enthusiast_score-rps-91 {
    background-position: -375px -75px;
    background-image: url('../images/wineenthusiast.jpg');
}

i.vino-icon.icon-vino-icon-wine_enthusiast_score-rps-92 {
    background-position: -450px -75px;
    background-image: url('../images/wineenthusiast.jpg');
}

i.vino-icon.icon-vino-icon-wine_enthusiast_score-rps-93 {
    background-position: -525px -75px;
    background-image: url('../images/wineenthusiast.jpg');
}

i.vino-icon.icon-vino-icon-wine_enthusiast_score-rps-94 {
    background-position: -300px -150px;
    background-image: url('../images/wineenthusiast.jpg');
}

i.vino-icon.icon-vino-icon-wine_enthusiast_score-rps-95 {
    background-position: -375px -150px;
    background-image: url('../images/wineenthusiast.jpg');
}

i.vino-icon.icon-vino-icon-wine_enthusiast_score-rps-96 {
    background-position: -450px -150px;
    background-image: url('../images/wineenthusiast.jpg');
}

i.vino-icon.icon-vino-icon-wine_enthusiast_score-rps-97 {
    background-position: -525px -150px;
    background-image: url('../images/wineenthusiast.jpg');
}

i.vino-icon.icon-vino-icon-wine_enthusiast_score-rps-98 {
    background-position: -300px -225px;
    background-image: url('../images/wineenthusiast.jpg');
}

i.vino-icon.icon-vino-icon-wine_enthusiast_score-rps-99 {
    background-position: -375px -225px;
    background-image: url('../images/wineenthusiast.jpg');
}

i.vino-icon.icon-vino-icon-wine_enthusiast_score-rps-100 {
    background-position: -450px -225px;
    background-image: url('../images/wineenthusiast.jpg');
}

i.vino-icon.icon-vino-icon-wine_enthusiast_score-rps-86-plus {
    background-position: -300px -300px;
    background-image: url('../images/wineenthusiast.jpg');
}

i.vino-icon.icon-vino-icon-wine_enthusiast_score-rps-87-plus {
    background-position: -375px -300px;
    background-image: url('../images/wineenthusiast.jpg');
}

i.vino-icon.icon-vino-icon-wine_enthusiast_score-rps-88-plus {
    background-position: -450px -300px;
    background-image: url('../images/wineenthusiast.jpg');
}

i.vino-icon.icon-vino-icon-wine_enthusiast_score-rps-89-plus {
    background-position: -525px -300px;
    background-image: url('../images/wineenthusiast.jpg');
}

i.vino-icon.icon-vino-icon-wine_enthusiast_score-rps-90-plus {
    background-position: -300px -375px;
    background-image: url('../images/wineenthusiast.jpg');
}

i.vino-icon.icon-vino-icon-wine_enthusiast_score-rps-91-plus {
    background-position: -375px -375px;
    background-image: url('../images/wineenthusiast.jpg');
}

i.vino-icon.icon-vino-icon-wine_enthusiast_score-rps-92-plus {
    background-position: -450px -375px;
    background-image: url('../images/wineenthusiast.jpg');
}

i.vino-icon.icon-vino-icon-wine_enthusiast_score-rps-93-plus {
    background-position: -525px -375px;
    background-image: url('../images/wineenthusiast.jpg');
}

i.vino-icon.icon-vino-icon-wine_enthusiast_score-rps-94-plus {
    background-position: -300px -450px;
    background-image: url('../images/wineenthusiast.jpg');
}

i.vino-icon.icon-vino-icon-wine_enthusiast_score-rps-95-plus {
    background-position: -375px -450px;
    background-image: url('../images/wineenthusiast.jpg');
}

i.vino-icon.icon-vino-icon-wine_enthusiast_score-rps-96-plus {
    background-position: -450px -450px;
    background-image: url('../images/wineenthusiast.jpg');
}

i.vino-icon.icon-vino-icon-wine_enthusiast_score-rps-97-plus {
    background-position: -525px -450px;
    background-image: url('../images/wineenthusiast.jpg');
}

i.vino-icon.icon-vino-icon-wine_enthusiast_score-rps-98-plus {
    background-position: -300px -525px;
    background-image: url('../images/wineenthusiast.jpg');
}

i.vino-icon.icon-vino-icon-wine_enthusiast_score-rps-99-plus {
    background-position: -375px -525px;
    background-image: url('../images/wineenthusiast.jpg');
}

i.vino-icon.icon-vino-icon-wine_enthusiast_score-rps-100-plus {
    background-position: -450px -525px;
    background-image: url('../images/wineenthusiast.jpg');
}