.cnsocial{
display:block;
}
.cnsocial div{
	min-height: 50px;
    width: 63px;
    margin: 1%;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    position: relative;
    background-position: center !important;
    background-repeat: no-repeat !important;
}
.cnsocial span{
	position: absolute;
    top: 45px;
    margin: auto;
    left: 10%;
}
.cnsocial .wechat{
 background:url('wechat.png');
}
.cnsocial .qq{
 background:url('qq.png');
}
.cnsocial .sina{
 background:url('sina.png');
}
.cnsocial .taobao{
 background:url('taobao.png');
}