<?php /** * Sidebar menu * * @var Infortis\UltraMegamenu\Block\Navigation $block */ ?> <?php $helper = $block->getHelperData(); $html = ''; $isMegamenu = $block->getData('is_megamenu'); if ($isMegamenu === NULL) { $isMegamenu = $helper->getCfg('sidemenu/is_megamenu'); } $menuId = ''; if ($isMegamenu) { $html = $block->renderCategoriesMenuHtml(FALSE, 0, 'level-top'); if ($helper->isSidebarMenuMainMenu($block->getData('is_main'))) { $menuId = 'mainmenu2'; } } else { $categoryId = $block->getData('parent'); if ($categoryId === NULL) { $categoryId = $helper->getCfg('sidemenu/parent'); } $depth = $block->getData('depth'); if ($depth === NULL) { $depth = intval($helper->getCfg('sidemenu/depth')); } else { $depth = intval($depth); } $html = $block->renderMe(true, $categoryId, $depth); } if (!$html) { return ''; } $title = $block->renderBlockTitle(); $visibilityClass = $helper->getCfg('sidemenu/hide_on_mobile') ? ' hide-below-768' : ''; if (!empty($menuId)) { $visibilityClass .= ' hide-when-mobile-header'; } ?> <div class="block block-vertnav clearfix<?php echo $visibilityClass; ?>"><?php if ($title): ?> <div class="block-title"><strong><span><?php echo $title; ?></span></strong></div><?php endif; ?> <div class="block-content"><?php if ($isMegamenu): ?> <?php if (!empty($menuId)): ?> <div id="nav-marker-regular2"></div><?php endif; ?> <?php ?> <nav<?php if (!empty($menuId)) echo " id=\"{$menuId}\""; ?> class="navi navi-sidebarmenu nav-regular nav-vert opt-fx-fade-inout <?php echo $helper->getBlocksVisibilityClassOnMobile(); ?>"><ul><?php echo $html; ?></ul></nav><?php else: ?> <ul class="uaccordion uaccordion-style1 sideacco"><?php echo $html; ?></ul><?php endif; ?></div></div><?php if ($isMegamenu): ?> <script type="text/javascript">
//<![CDATA[

    requirejs(['jquery', 'ultramegamenu'], function(jQuery, ultramegamenu) {

        
        var sidebarMenuOutermostContainer = jQuery('#maincontent > .columns');
        
        
        
        
        
        

        var sidebarMenuSettings = {
            mode: 0
            , mobileMenuThreshold: <?php echo intval($helper->getCfg('mobilemenu/threshold')); ?>
            , isVerticalLayout: true
            , initVerticalMenuCollapsed: <?php echo ($helper->getCfg('mainmenu/vertnav_collapsed')) ? 'true' : 'false'; ?>
            , outermostContainer: sidebarMenuOutermostContainer
        };

        <?php if (!empty($menuId)): ?>
            <?php echo "var sidebarMenuContainer = jQuery('#{$menuId}');"; ?>
        <?php else: ?>
            var sidebarMenuContainer = jQuery('.navi-sidebarmenu');
        <?php endif; ?> var theSidebarMenu = sidebarMenuContainer.ultramegamenu(sidebarMenuSettings).data("infortis-ultramegamenu");
        theSidebarMenu.enableDropdowns();

    }); 

//]]>
</script><?php endif; ?>