<!--@copyright Copyright (c) 2016 www.tigren.com-->
<div class="grid-deals">
    <div class="all-deals">
        <div class="toolbar"><?php echo $block->getPagerHtml(); ?></div>
        <div id="today-deals">
            <div class="list-deals">
                <?php
                $deals = $block->getPagedDeals();
                if ($deals->getSize()) {
                    $helper = $block->getHelper();
                    $prdCount = 0;
                    ?>
                    <ul class="deal-grid">
                        <?php
                        foreach ($deals->getItems() as $deal) {
                            $deal->load($deal->getId());
                            $productIds = $deal->getProductIds();
                            foreach ($productIds as $productId) {
                                $product = $helper->getProductById($productId);
                                if ($product && $product->getId()) {
                                    $prdCount++;
                                    $remainQuantity = $deal->getQuantity() - $deal->getSold();
                                    $productQuantity = $helper->getProductQuantity($product);
                                    if($product->getTypeId() == 'downloadable'){
                                        if ($remainQuantity > 0){
                                            $leftText = __('For only ' . $remainQuantity . ' item(s)!');
                                        }
                                        else{
                                            $leftText = __('Until Out of Stock');
                                        }
                                    }
                                    else{
                                        if ($productQuantity <= 0) {
                                            $leftText = __('Sorry, this product is sold out!');
                                        } else {
                                            if ($remainQuantity < $productQuantity) {
                                                $leftText = __('For only ' . $remainQuantity . ' item(s)!');
                                            } else {
                                                $leftText = __('Until Out of Stock');
                                            }
                                        }
                                    }


                                    $endTime = strtotime($deal->getEndTime());
                                    ?>
                                    <li class="item">
                                        <a href="<?php echo $product->getProductUrl(); ?>"
                                           title="<?php echo $product->getName(); ?>" class="product-image">
                                            <img src="<?php echo $helper->getProductImageUrl($product, 'category'); ?>"
                                                 alt="<?php echo $product->getName() ?>"/>
                                            <div class="save-price">
                                                <div class="price"><?php echo $helper->calSaving($product); ?><?php echo __('%'); ?></div>
                                            </div>
                                        </a>
                                        <h4 class="product-name">
                                            <a href="<?php echo $product->getProductUrl() ?>"
                                               title="<?php echo $product->getName() ?>"><?php echo $product->getName() ?></a>
                                        </h4>
                                        <div class="deal-price">
                                            <div class="price-box">
                                                <p class="special-price">
                                                    <span class="price"><?php echo $helper->getPriceWithCurrency($product->getFinalPrice()); ?></span>
                                                </p>
                                                <p class="old-price">
                                                    <span class="price"><?php echo $helper->getPriceWithCurrency($product->getPrice()); ?></span>
                                                </p>
                                            </div>
                                        </div>
                                        <h4><?php echo $leftText; ?></h4>
                                        <span class="timeleft-today" data-totime="<?php echo $endTime ?>"> </span>

                                    </li>
                                    <?php
                                }
                            }
                        }
                        ?>
                    </ul>
                    <script type="text/javascript">
                        require(['jquery', 'dailydeal_countdown'], function ($) {
                            $(document).ready(function () {
                                $('.timeleft-today').dealcountdown();
                            });
                        });
                    </script>
                    <div><?php echo __('There are ' . $prdCount . ' today deal product(s)'); ?></div>
                <?php
                } else {
                ?>
                    <p class="note-msg"><?php echo __('There are no deals available.') ?></p>
                <?php } ?>
            </div>
        </div>
        <div class="toolbar"><?php echo $block->getPagerHtml(); ?></div>
    </div>
</div>