<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product additional attributes template
 *
 * @var $block \Magento\Catalog\Block\Product\View\Attributes
 */
?>
<?php
    $_helper = $this->helper('Magento\Catalog\Helper\Output');
    $_product = $block->getProduct()
?>

<?php if ($_additional = $block->getAdditionalData()): ?>
    <div class="additional-attributes-wrapper table-wrapper">
        <table class="data table additional-attributes" id="product-attribute-specs-table">
            <caption class="table-caption"><?php /* @escapeNotVerified */ echo __('More Information') ?></caption>
            <tbody>
            <?php foreach ($_additional as $_data): ?>
                <tr>
                    <td class="col label" scope="row"><strong><?php echo $block->escapeHtml(__($_data['label'])) ?></strong></td>
                    <td class="col data"><?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_data['value'], $_data['code']) ?></td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>
<?php endif;?>

<br>
<br>
<?php
    $_getFood = $_product->getResource()->getAttribute('food');
    $attrFood = $_getFood->getFrontend()->getValue($_product);
    if($attrFood != ""){
 ?>
<div class="food">
    <h4>Food Pairings</h4>
    <hr>
    <ul class="custom-attribute-list">
        <?php                               
            showicons($attrFood,'food');
        ?>
    </ul>
</div>
<?php 
    } 
    $_getFeel = $_product->getResource()->getAttribute('feel');
            
    $attrFeel = $_getFeel->getFrontend()->getValue($_product);
    if($attrFeel != ""){
?>

<div class="feel">
    <h4>Feel</h4>
    <hr>
    <ul class="custom-attribute-list">
        <?php 
            showicons($attrFeel,'feel');
        ?>
    </ul>
</div>
<?php 
    }
    $_getTaste = $_product->getResource()->getAttribute('taste');
    $attrTaste = $_getTaste->getFrontend()->getValue($_product); 
    if($attrTaste != ""){
?>
<div class="taste">
    <h4>Taste</h4>
    <hr>
    <ul class="custom-attribute-list">
        <?php 
            
            showicons($attrTaste,'taste');
        ?>
    </ul>
</div>
<?php 
    }
?>
<div class="medals" id="medals-list">
    <h4>Awards and Medals</h4>
    <hr>
    <ul class="custom-attribute-list">
        <?php 

            $_getOm = $_product->getResource()->getAttribute('m_om');

            $attrOm = $_getOm->getFrontend()->getValue($_product); 
            if($attrOm != ""){
                showmedals($attrOm,'m_om');
            }
        ?>

        <?php 
            $_getSfcwc = $_product->getResource()->getAttribute('m_sf_cwc');

            $attrSfcwc = $_getSfcwc->getFrontend()->getValue($_product); 
            if($attrSfcwc != ""){
                showmedals($attrSfcwc,'m_sf_cwc');
            }
        ?>

        <?php 
            $_getBti = $_product->getResource()->getAttribute('m_bti');

            $attrBti = $_getBti->getFrontend()->getValue($_product); 
            if($attrBti != ""){
                showmedals($attrBti,'m_bti');
            }
        ?>

        <?php 
            $_getRobertParker = $_product->getResource()->getAttribute('robert_parker_score');

            $attrRobertParker = $_getRobertParker->getFrontend()->getValue($_product); 
            if($attrRobertParker != ""){
                showmedals($attrRobertParker,'robert_parker_score');
            }
        ?>

        <?php 
            $_getDecanter = $_product->getResource()->getAttribute('decanter_score');

            $attrDecanter = $_getDecanter->getFrontend()->getValue($_product); 
            if($attrDecanter != ""){
                showmedals($attrDecanter,'decanter_score');
            }
        ?>

        <?php 
            $_getWineSpectator = $_product->getResource()->getAttribute('wine_spectator_score');

            $attrWineSpectator = $_getWineSpectator->getFrontend()->getValue($_product); 
            if($attrWineSpectator != ""){
                showmedals($attrWineSpectator,'wine_spectator_score');
            }
        ?>

        <?php 
            $_getWineEnthusiast = $_product->getResource()->getAttribute('wine_enthusiast_score');

            $attrWineEnthusiast = $_getWineEnthusiast->getFrontend()->getValue($_product); 
            if($attrWineEnthusiast != ""){
                showmedals($attrWineEnthusiast,'wine_enthusiast_score');
            }
        ?>
    </ul>
</div>
<?php 
//print_r($_product->getAttributes());
// $attributes = $_product->getAttributes();
// foreach ($attributes as $attribute) { 
//    echo "code ->".$attribute->getAttributeCode(); echo '<br />';
//    echo $attribute->getStoreLabel(); echo '<br />';
//    echo $attribute->getFrontendLabel(); echo '<br />';    
//    echo $attribute->getFrontend()->getLabel(); echo '<br />';

// // you might not get value for all attributes
//    //echo $attribute->getFrontend()->getValue($_product); echo '<br />';    
// }
?>
<?php
    function showicons($attrstring,$catname){
        $data = explode(',', $attrstring);
        foreach ($data as $value) {
            echo "<li><i class='vino-icon icon-vino-icon-".$catname."-".str_replace(" ","-",trim(strtolower($value)))."'></i>".$value."</li>";
        }
    }

    function showmedals($attrstring,$catname){
        $data = explode(',', $attrstring);
        //print_r($data);
        foreach ($data as $value) {
            echo "<li><i class='vino-icon icon-vino-icon-".$catname."-".str_replace(" ","-",trim(strtolower($value)))."'></i></li>";
        }
    }
?>