<!--@subject Products are on Hot Deals! @-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
    <div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
        <table cellspacing="0" cellpadding="0" border="0" style="height:100%; width:100%">
            <tr>
                <td align="center" valign="top" style="padding:20px 0 20px 0">
                    <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
                        <tr>
                            <td valign="top">
                                <h2>Dear <strong>{{var customer_name}}</strong>!</h2>
                                <h2>There are a lot of attractive deals today. Click <a href="{{var deals_link}}">here</a> to view all deals</h2>       
                                <p><small>This email was sent to you because you subscribed to receive notification about our daily deals.
                                    If you don't want to receive our daily deals email any more, click <a href="{{var unsubscribe_link}}">here</a> to unsubscribe</small></p>
                            </td>
                        </tr>
                        <tr>
                            <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;">
                                <center><p style="font-size:12px; margin:0;">Thank you again, <strong>{{var customer_name]}}</strong>!</p></center>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</body>