<!--@subject Daily Deals Subscription Confirmation @-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
    <div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
        <table cellspacing="0" cellpadding="0" border="0" style="height:100%; width:100%">
            <tr>
                <td align="center" valign="top" style="padding:20px 0 20px 0">
                    <!-- [ header starts here] -->
                    <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
                        <tr>
                            <td align="top">
                                <h3>Dear <strong>{{var customer_name}}</strong>!</h3>
                                <h3>Thank you for your subscription to receive notification about our daily deals.</h3>                            
                                <h3>Please click <a href="{{var confirm_link}}" style="color:#1E7EC8;">here</a> to confirm that this is your e-mail address.</h3>
                            </td>
                        </tr>

                        <tr>
                            <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;">
                                <center><p style="font-size:12px; margin:0;">Thank you, <strong>{{var customer_name}}</strong>!</p></center>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</body>